@*
 Page de profil, Permet aux utilisateurs connecter de gérer leur profil
*@
@import controllers.BDDpackage.Utilisateur

@(user: Utilisateur, Alerte: Int = 0, messageAlerte: String = "")

@main("Profil") {
    @* S'il y a une notification a afficher *@
    @if(Alerte == 1) {
        <div class="badAlert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @messageAlerte
        </div>
    } else if (Alerte == 2){
        <div class="goodAlert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @messageAlerte
        </div>
    }

    <div class="userPad">
        <div class="row">
            <div class="col-lg-5 col-sm-12">
                <div class="card hovercard">
                    <div class="cardheader">
                    </div>
                    <div class="avatar">
                        <img alt="" src="http://lorempixel.com/100/100/people/9/">
                    </div>
                    <div class="info">
                        <div class="title">
                            @user.prenom @user.nom
                        </div>
                        <div class="desc">@user.pays</div>
                        <div class="desc">@user.genre</div>
                        <hr class="style1">
                        <div class="div-centered-panel">
                            <h6>Informations </h6>
                            <div class="desc">Pseudo : @user.pseudo</div>
                            <div class="desc">E-mail : @user.email</div>
                            <div class="desc">Birthday : @user.anniversaire</div>
                            <div class="desc">Status : @user.statut</div>
                            <div class="desc">Inscription date : @user.cree_a</div>
                            <div class="desc"><a href="http://localhost:9000/modifierProfil"> Modify</a></div>
                        </div>
                        <hr class="style1">
                        <div class="div-centered-panel">
                            <h6>Settings</h6>
                            <div class="desc">Email notifications : @user.options <a href="http://localhost:9000/options"> Modify</a> </div>
                            <div class="desc"><a href="http://localhost:9000/deco" class="button">Disconnect</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
