@*
 Page de profil, Permet aux utilisateurs connecter de gérer leur profil
*@
@import controllers.BDDpackage.Utilisateur

@(user: Utilisateur, Alerte: Int = 0, messageAlerte: String = "")




@main("Profil") {
    @* S'il y a une notification a afficher *@
    @if(Alerte == 1) {
        <div class="badAlert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @messageAlerte
        </div>
    } else if (Alerte == 2){
        <div class="goodAlert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @messageAlerte
        </div>
    }




    <h1>Welcome to your profil</h1>

    <h2>@user.prenom @user.nom</h2>

    <br>
    <p>Pseudo: @user.pseudo <br>Email: @user.email <br>Genre: @user.genre </p>
    <p>Anniv: @user.anniversaire <br>cree a: @user.cree_a </p>
    <p>Statut: @user.statut <br>Pays: @user.pays </p>
    <br>
    <p><b>Paramètres:</b><br> rappel via email: @user.options</p>

    <a href="http://localhost:9000" class="button">Go to home</a>
    <br>

}
