

# pour eclipse ->
.metadata
.settings
.cache-main
.cache-tests
.classpath
.project
bin 			# pas sur ...

# <- pour eclipse 

*.iml
*.jar
.g8
.gradle
.idea
build
logs
gradle
target
project
build.gradle
gradlew
gradlew.bat
