@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.

@(title: String)(content: Html)

@(message: String)

<!DOCTYPE html>
<html lang="en">
<head>
<title>Categories</title>
</head>
<body>
    <h1>Welcome @message</h1>
    <p> bonjour les amis , </p>

    <a href="http://localhost:9000" class="button">Go to home</a>
    <br>
</body>
</html>

*@
@import controllers.BDDpackage.SousCategorie
@import controllers.BDDpackage.Categorie

@(SousCategories: List[SousCategorie])

@main("Sous Categorie") {
    <h1>Welcome SousCategories</h1>
    <p> nom cat => 2eme paramètre</p>

    <br>
    <ul>
        @for(sousCat <- SousCategories) {
            <li>@sousCat.nom </li>
        }
    </ul>
    <br>
    <a href="http://localhost:9000" class="button">Go to home</a>
    <br>

}
