@(titre: String)

@main(titre: String) {
  <h1>Welcome @titre</h1>
    <p> bonjour les amis , </p>

  <a href="http://localhost:9000/test" class="button">Go to test</a>
  <br>
  <a href="http://localhost:9000/profil" class="button">Go to Profil</a>
  <br>
  <a href="http://localhost:9000/categorie" class="button">Go to Categorie</a>
  <br>
  <a href="http://localhost:9000/sousCategorie" class="button">Go to sous categorie</a>
  <br>
  <br>

  <!-- Envoie le paramètre name a la page testParam -->
  <form action="/testParam">
    Entrez un mot :
    <input type="text" name="name">

    <input type="submit" value="Submit">
  </form>

  <br>

}
