@*
 Interface permettant d'ajouter une sous catégorie

*@

@import controllers.BDDpackage.Categorie


@(listCategories: List[Categorie], default: String )

@main("Sous Categorie") {
    <h1>Add a SousCategories</h1>

    <form action="/AddSousCategorie">
        Entrez un nom de sous Catégorie :
        <input type="text" name="nom">
            <br>
            Choisir la catégorie principale :
        <input list="categorie" type="text" name="categorie_id" value="@default">

            <datalist id="categorie">
                @for(categorie <- listCategories) {
                    <option value=@categorie.id>@categorie.nom</option>
                }
            </datalist>
            <br>

        <input type="submit" value="Ajouter">
    </form>

    <br>
    <a href="http://localhost:9000" class="button">Go to home</a>
    <br>

}
